
body  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.label{
    text-align: right;
    width: 180px;

}

button{
    margin-top: 10px
}

.error {
    color: red;
    font-size: .9em;
}